<footer>
    <div class="full-width pre-footer">
        <div class="useful-width margin-constraint pre-footer-content">
            <div class="banner-title">
                <h2>Besoin de discuter de votre projet ?</h2>
                <p>Laissez-moi vos coordonnées, je vous recontacte
                    sous 24h !</p>
            </div>
            <div class="banner-form">
                <form>
                    <div class="form-content">
                        <div>
                            <label for="lname">Nom:</label>
                            <input type="text" id="lname" name="lname" placeholder="Nom">
                        </div>
                        <div>
                            <label for="fname">Prénom:</label>
                            <input type="text" id="fname" name="fname" placeholder="Prénom">
                        </div>
                        <div>
                            <label for="phone">Téléphone:</label>
                            <input type="text" id="phone" name="phone" placeholder="Téléphone">
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <a href="#" class="btn btn-secondary uppercase">Je valide !</a>
                </form>
            </div>
        </div>
    </div>
    <div class="full-width footer">
        <div class="useful-width margin-constraint footer-content">
            <div>
                <img src="\assets\vector\logos\webmania_logo.svg" alt="Webmania logo">
                <p>Webmania c'est Anna EZZARANI, designer et intégratrice web passionnée basée à Paris.</p>
            </div>
            <div>
                <h5>Mes compétences</h5>
                <ul>
                    <li>
                        <a href="design.php">Design</a>
                    </li>
                    <li>
                        <a href="development.php">Développement web</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5>Légal</h5>
                <ul>
                    <li>
                        <a href="legal.php">Mentions légales</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5>Me contacter</h5>
                <ul>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="tel:0033648627410">06.48.62.74.10</a>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:ask.webmania@gmail.com">ask.webmania@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full-width sub-footer primary-clr-bg">
        <div class="useful-width margin-constraint sub-footer-content">
            <div>
                <p>Tous droits réservés © Anna EZZARANI 2021</p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/webmania-services/" class="social_icon">
                    <i class="fab fa-linkedin-in fa-sm"></i>
                </a>
                <a href="https://www.behance.net/webmania" class="social_icon">
                    <i class="fab fa-behance fa-sm"></i>
                </a>
            </div>
        </div>
        <div class="sub-footer-bg"></div>
    </div>
</footer>