---
title: Contact | Webmania
layout: 'base.njk'
---

<!-- Hero Banner -->
<section class="full-width light-bg hero-banner">
  <div class="useful-width margin-constraint hero-banner-content">
    <div>
      <h3>En recherche d'emploi</h3>
      <h1 class="dark-clr">Contact</h1>
      <p>Je suis disponible pour discuter de votre besoin et vous présenter mes motivations.</p>
      <a href="contact.php" class="btn btn-primary uppercase">Un besoin ? Parlons-en !</a>
    </div>
    <div>
      <img src="\assets\bitmap\hero\random-model-contact-min.png" alt="Jeune femme cheveux bouclés qui croise les doigts">
    </div>
  </div>
</section>

<!-- Contact informations -->
<section class="full-width contact relative">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint grid">
    <div class="contact-title left-title">
      <h3>Coordonnées de contact</h3>
      <h2 class="dark-clr">Contactez-moi pour échanger autour de votre projet, je suis disponible tous les jours</h2>
    </div>
    <div class="contact-content">
      <div class="contact-cards">
        <a href="tel:+0033648627410" class="item card primary-clr-bg relative">
          <div class="card-icon">
            <img src="\assets\vector\icons\004-call-center-agent.svg" alt="Design icon">
          </div>
          <span class="white-clr uppercase">Mon numéro de téléphone</span>
          <div class="card-title">
            <h2 class="underlined white-clr">06.48.62.74.10</h2>
          </div>
        </a>
        <a href="mailto:ask.webmania@gmail.com" class="item card secondary-clr-bg relative">
          <div class="card-icon">
            <img src="\assets\vector\icons\002-at-sign.svg" alt="Design icon">
          </div>
          <span class="white-clr uppercase">Mon adresse email</span>
          <div class="card-title">
            <h2 class="underlined white-clr">ask.webmania@gmail.com</h2>
          </div>
        </a>
      </div>
      <div class="contact-map">
        <img src="\assets\bitmap\maps\contact-map.png" alt="Carte de France qui pointe vers Paris" class="card">
      </div>
    </div>
  </div>
</section>

<!-- Contact form -->
<section id="ux-web-design" class="full-width form light-bg">
  <div class="useful-width margin-constraint grid">
    <div class="form-title">
      <h3>Formulaire de contact</h3>
      <h2 class="dark-clr">Un questionnaire pour mieux cibler votre besoin et vous recontacter sous 48h</h2>
    </div>
    <form class="form-content">
      <span class="dark-clr">Vos coordonnées</span>
      <div class="form-particulars">
        <div class="first-name">
          <label for="first-name"></label>
          <input type="text" name="first-name" id="first-name" placeholder="Prénom" class="card">
        </div>
        <div class="last-name">
          <label for="last-name"></label>
          <input type="text" name="last-name" id="last-name" placeholder="Nom de famille">
        </div>
        <div class="phone">
          <label for="phone"></label>
          <input type="text" name="phone" id="phone" placeholder="Numéro de téléphone">
        </div>
        <div class="email">
          <label for="email"></label>
          <input type="text" name="last-name" id="last-name" placeholder="Adresse email">
        </div>
      </div>
      <span class="dark-clr">Votre besoin</span>
      <div class="form-need">
        <div class="design">
          <label for="design">Design</label>
          <input type="radio" name="need-choice" id="design" value="design" class="card" checked>
        </div>
        <div class="development">
          <label for="development">Développement web</label>
          <input type="radio" name="need-choice" id="development" class="card" value="development">
        </div>
        <div class="both">
          <label for="both">Les deux</label>
          <input type="radio" name="need-choice" id="both" value="both" class="card">
        </div>
        <div class="other">
          <label for="other">Autre</label>
          <input type="radio" name="need-choice" id="other" value="other" class="card">
        </div>
      </div>
      <span class="dark-clr">Votre message</span>
      <div class="form-message">
        <div class="message">
          <label for="message"></label>
          <textarea name="message" id="message" class="card" rows="5" cols="33" placeholder="Votre message"></textarea>
        </div>
      </div>
      <a href="#" class="btn btn-primary uppercase">Je valide le formulaire !</a>
    </form>
  </div>
</section>