---
title: Design d'interface et expérience utilisateur
layout: 'base.njk'
---

<!-- Hero Banner -->
<section class="full-width light-bg hero-banner">
  <div class="hero-logo-pattern"></div>
  <div class="useful-width margin-constraint hero-banner-content">
    <div>
      <h3>Ouverte aux opportunités</h3>
      <h1 class="dark-clr"> Design UX/UI</h1>
      <p>La passion du design et le souci du détail pour proposer des interfaces performantes et modernes.</p>
      <a href="/contact/" class="btn btn-primary uppercase">Un besoin ? Parlons-en !</a>
    </div>
    <div class="hero-img md-hero-img">
      <img src="\assets\bitmap\hero\random-model-design-min.png" alt="Jeune femme cheveux bouclés souriante avec mains en forme de coeur">
    </div>
  </div>
</section>

<!-- Offer -->
<section class="full-width offer relative">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint grid">
    <div class="offer-title left-title">
      <h3>Quelles sont mes compétences en design ?</h3>
      <h2 class="dark-clr">Des compétences complémentaires pour moderniser votre image de marque</h2>
    </div>
    <div class="offer-cards">
      <a href="#ux-web-design" class="item card primary">
        <div class="card-icon">
          <img src="\assets\vector\icons\014-pantone.svg" alt="Icône bicolore de palette de couleurs">
        </div>
        <div class="card-title">
          <h4 class="underlined">Design d'interface et UX Design</h4>
        </div>
        <div class="card-search primary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
      <a href="#print-design" class="item card secondary">
        <div class="card-icon">
          <img src="\assets\vector\icons\008-drawing.svg" alt="Icône de crayon avec feuille de papier">
        </div>
        <h4 class="underlined">Identité visuelle, logo et couleurs</h4>
        <div class="card-search secondary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
      <a href="#case-studies" class="item card primary">
        <div class="card-icon">
          <img src="\assets\vector\icons\020-student.svg" alt="Icône d'étudiant avec livre">
        </div>
        <div class="card-title">
          <h4 class="underlined">Études de cas &amp; cas concrets</h4>
        </div>
        <div class="card-search primary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- UX/UI -->
<section id="ux-web-design" class="full-width skills light-bg">
  <div class="useful-width margin-constraint skills-content">
    <div class="skills-title">
      <h3>Design d'interface &amp; expérience utilisateur</h3>
      <h2 class="dark-clr">Une interface qui parle à vos clients et qui convertit vos objectifs</h2>
    </div>
    <div class="skills-cards">
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\025-website.svg" alt="Drawing icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Interviews Utilisateur</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Fait partie d'un ensemble de pratiques UX permettant de centrer la conception et l'usabilité autour de l'utilisateur.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\015-sitemap.svg" alt="Site map icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Arborescence</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Essentielle pour construire une expérience digitale fluide et ergonomique.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\025-wireframe.svg" alt="Wireframe icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Wireframes</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Prototypes utilisés lors de la conception d'une interface utilisateur pour définir son fonctionnement.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\025-wireframe.svg" alt="Wireframe icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Prototypes</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Maquettes interactives qui permettent de faire valider la version définitive d'un outil digital.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\005-blueprint.svg" alt="Wireframe icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Design systems</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Bibliothèque de composants, et visuels qui offre un référentiel et permet de faciliter le travail des équipes.</p>
      </div>
    </div>
  </div>
</section>

<!-- Print Design -->
<section id="print-design" class="full-width skills">
  <div class="lines three-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint skills-content">
    <div class="skills-title">
      <h3>Identité visuelle, logos &amp; couleurs</h3>
      <h2 class="dark-clr">Une identité graphique engagée et moderne qui marque les esprits</h2>
    </div>
    <div class="skills-cards">
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\002-crayon.svg" alt="Pen icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Identité visuelle</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Assemblage d'éléments visuels qui assurent la cohérence dans tous vos supports de communication.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\022-sketchbook.svg" alt="Moodboard icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Moodboard</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Planche d'ambiance qui permet de déterminer une ligne directrice et de cerner les attentes graphiques du client.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\010-idea.svg" alt="Idea icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Logotype</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Essentiel pour l’identité visuelle de votre entreprise, c'est un point de repère qui véhicule votre image.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\016-pantone.svg" alt="Pantone icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Couleurs</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>En communication, elles expriment des émotions et influencent notre perception, nos actes et nos choix.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\016-printer.svg" alt="Wireframe icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Supports imprimés</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>La communication imprimée se révèle efficace dans l'évènementiel et les stratégies de proximité.</p>
      </div>
    </div>
  </div>
</section>

<!-- Case studies Partials -->
<section id="case-studies" class="full-width light-bg">
  <div class="useful-width margin-constraint case-studies-content">
    <div class="case-studies-title-container">
      <div class="case-studies-title">
        <h3>Études de cas</h3>
        <h2 class="dark-clr">Des exemples concrets pour mieux comprendre mes méthodes de travail</h2>
      </div>
    </div>
    <div class="case-studies-cards">
      <div class="owl-carousel owl-carousel-lg owl-theme">
        {%- for portfolio in collections.portfolio -%}
          {% include 'case-study-snippet.njk' %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{%- for portfolio in collections.portfolio -%}
  {% include 'case-study.njk' %}
{%- endfor -%}

<!-- Valeurs -->
<section class="full-width values">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint values-content">
    <div class="values-title">
      <h3>Quels sont mes atouts en design ?</h3>
      <h2 class="dark-clr">Le design au service des objectifs business et de la stratégie de marque</h2>
    </div>
    <div class="values-cards">
      <div class="item card small-card">
        <div class="card-icon primary-clr-bg">
          <i class="fas fa-briefcase"></i>
        </div>
        <h4 class="dark-clr">Design minutieux</h4>
        <p>orienté "pixel perfect"</p>
      </div>
      <div class="item card small-card">
        <div class="card-icon secondary-clr-bg">
          <i class="fas fa-eye"></i>
        </div>
        <h4 class="dark-clr">Design en cohérence</h4>
        <p>avec le secteur d'activité</p>
      </div>
      <div class="item card small-card">
        <div class="card-icon primary-clr-bg">
          <i class="fas fa-desktop"></i>
        </div>
        <h4 class="dark-clr">Design créatif</h4>
        <p>et 100% original</p>
      </div>
      <div class="item card small-card">
        <div class="card-icon secondary-clr-bg">
          <i class="fab fa-rocketchat"></i>
        </div>
        <h4 class="dark-clr">Design stratégique</h4>
        <p>qui répond à vos objectifs</p>
      </div>
    </div>
  </div>
</section>

<!-- Blog -->
<section class="full-width blog light-bg">
  <div class="useful-width margin-constraint blog-content">
    <div class="blog-title">
      <h3>Articles de blog</h3>
      <h2 class="dark-clr">Des articles et des tutoriels pour vous aider à développer votre communication en ligne </h2>
    </div>
    <div class="blog-cards">
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </div>
  </div>
</section>