---
title: Développement Web | Webmania
layout: 'base.njk'
---

<!-- Hero Banner -->
<section class="full-width light-bg hero-banner">
  <div class="useful-width margin-constraint hero-banner-content">
    <div>
      <h3>Ouverte aux opportunités</h3>
      <h1 class="dark-clr">Développement Web</h1>
      <p>Une forte appétance pour les process techniques et la compréhension des enjeux sur les technologies.</p>
      <a href="contact.php" class="btn btn-primary uppercase">Un besoin ? Parlons-en !</a>
    </div>
    <div>
      <img src="\assets\bitmap\hero\random-model-developpement-min.png" alt="Jeune femme cheveux bouclés enthousiaste qui joint les mains devant elle">
    </div>
  </div>
</section>

<!-- Offer -->
<section class="full-width offer relative">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint grid">
    <div class="offer-title left-title">
      <h3>Quels sont mes services en développement web ?</h3>
      <h2 class="dark-clr">Des services complémentaires pour une meilleure compréhension des enjeux de développement</h2>
    </div>
    <div class="offer-cards">
      <a href="#ux-web-design" class="item card primary">
        <div class="card-icon">
          <img src="\assets\vector\icons\026-development.svg" alt="Développement Web icon">
        </div>
        <div class="card-title">
          <h4 class="underlined">Développement Front-End</h4>
        </div>
        <div class="card-search primary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
      <a href="#print-design" class="item card secondary">
        <div class="card-icon">
          <img src="\assets\vector\icons\011-html-file.svg" alt="Drawing icon">
        </div>
        <h4 class="underlined">Développement Back-End</h4>
        <div class="card-search secondary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
      <a href="#case-studies" class="item card primary">
        <div class="card-icon">
          <img src="\assets\vector\icons\020-student.svg" alt="Case studies icon">
        </div>
        <div class="card-title">
          <h4 class="underlined">Études de cas &amp; cas concrets</h4>
        </div>
        <div class="card-search primary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- Front-end -->
<section id="ux-web-design" class="full-width skills light-bg">
  <div class="useful-width margin-constraint skills-content">
    <div class="skills-title">
      <h3>Développement front-end</h3>
      <h2 class="dark-clr">Une interface graphique utilisateur légère et modulable pour votre outil digital</h2>
    </div>
    <div class="skills-cards">
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\011-html-file.svg" alt="HTML file icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">HTML 5</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
        </div>
        <p>Utilisation des derniers standards de ce langage qui structure les pages web dans le respect des bonnes pratiques.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\012-checklist.svg" alt="Drawing on file icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">CSS 3 / SASS</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Convention do nommage, BEM ou OOCSS sont des règles que j'applique pour livrer un code léger et souple.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\002-website-design.svg" alt="Website design icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Javascript</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Langage employé côté client pour dynamiser les interface web et manipuler les éléments du DOM.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\024-web-design.svg" alt="Wireframe icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Frameworks</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>On utilise des frameworks pour faciliter et accélérer le développement de certains projets (Bootstrap etc.).</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\001-data-sync.svg" alt="Versionning icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Versionning</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Contrôle de version systématique avec GIT et GitHub pour assurer le bon déroulement d'un projet seule ou en équipe.</p>
      </div>
    </div>
  </div>
</section>

<!-- Back-end -->
<section id="print-design" class="full-width skills">
  <div class="lines three-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint skills-content">
    <div class="skills-title">
      <h3>Développement back-end</h3>
      <h2 class="dark-clr">Des langages de programmation pour construire les fonctionnalités de votre outil digital</h2>
    </div>
    <div class="skills-cards">
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\020-programing.svg" alt="Programming icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">PHP</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Langage polyvalent utilisé dans le développement d'applications web dynamiques et qui agit côté serveur.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\001-data-modeling.svg" alt="Database icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">MySQL</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Système de gestion de bases de données relationnelles souvent utilisé de pair avec PHP.</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\025-view.svg" alt="Content management system icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">WordPress</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Système de gestion de contenu utilisé pour les blogs ou les sites e-commerce (mais pas que ;).</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\007-coding.svg" alt="Command line icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Ligne de commande</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Utile pour automatiser certains processus et professionnaliser ainsi les méthodes de travail (package node etc.).</p>
      </div>
      <div href="#" class="item card">
        <div class="card-icon">
          <img src="\assets\vector\icons\001-data-sync.svg" alt="Versionning icon">
        </div>
        <h4 class="sm-underlined primary-border dark-clr">Versionning</h4>
        <div class="stars">
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="fas fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
          <i class="far fa-star primary-clr"></i>
        </div>
        <p>Indispensable pour conserver l'ensemble des versions d'un outil digital lors de son développement.</p>
      </div>
    </div>
  </div>
</section>

<!-- Case studies Partials -->
<section id="case-studies" class="full-width light-bg">
  <div class="useful-width margin-constraint case-studies-content">
    <div class="case-studies-title-container">
      <div class="case-studies-title">
        <h3>Études de cas</h3>
        <h2 class="dark-clr">Des exemples concrets pour mieux comprendre mes méthodes de travail</h2>
      </div>
    </div>
    <div class="case-studies-cards">
      <div class="owl-carousel owl-carousel-lg owl-theme">
        {%- for portfolio in collections.portfolio -%}
          {% include 'case-study-snippet.njk' %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{%- for portfolio in collections.portfolio -%}
  {% include 'case-study.njk' %}
{%- endfor -%}

<!-- Valeurs -->
<section class="full-width values">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint values-content">
    <div class="values-title">
      <h3>Quels sont mes atouts ?</h3>
      <h2 class="dark-clr">Travailler avec Webmania, c'est la garantie d'une salariée investie au service des objectifs de votre entreprise</h2>
    </div>
    <div class="values-cards">
      <div class="item card small-card">
        <div class="card-icon primary-clr-bg">
          <i class="fas fa-layer-group"></i>
        </div>
        <h4 class="dark-clr">Code modulable</h4>
        <p>et facilement scalable</p>
      </div>
      <div class="item card small-card">
        <div class="card-icon secondary-clr-bg">
          <i class="fas fa-book"></i>
        </div>
        <h4 class="dark-clr">Code moderne</h4>
        <p>qui respecte les normes</p>
      </div>
      <div class="item card small-card">
        <div class="card-icon primary-clr-bg">
          <i class="fas fa-pump-soap"></i>
        </div>
        <h4 class="dark-clr">Code propre</h4>
        <p>orienté KISS</p>
      </div>
      <div class="item card small-card">
        <div class="card-icon secondary-clr-bg">
          <i class="far fa-file-alt"></i>
        </div>
        <h4 class="dark-clr">Code documenté</h4>
        <p>pour mieux collaborer</p>
      </div>
    </div>
  </div>
</section>

<!-- Blog -->
<section class="full-width blog light-bg">
  <div class="useful-width margin-constraint blog-content">
    <div class="blog-title">
      <h3>Articles de blog</h3>
      <h2 class="dark-clr">Des articles et des tutoriels pour vous aider à développer votre communication en ligne </h2>
    </div>
    <div class="blog-cards">
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </div>
  </div>
</section>