---
title: Mon parcours | Webmania
layout: 'base.njk'
---

<!-- Hero Banner -->
<section class="full-width light-bg hero-banner">
  <div class="useful-width margin-constraint hero-banner-content">
    <div>
      <h3>Ouverte aux opportunités</h3>
      <h1 class="dark-clr">Mon parcours</h1>
      <p>Une spécialisation autour du web et des années d'expérience en tant que salariée.</p>
      <a href="contact.php" class="btn btn-primary uppercase">Un besoin ? Parlons-en !</a>
    </div>
    <div>
      <img src="\assets\bitmap\hero\random-model-my-journey-min.png" alt="Jeune femme cheveux bouclés pensive qui lève les yeux au ciel">
    </div>
  </div>
</section>

<!-- Offer -->
<section class="full-width offer relative">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint grid">
    <div class="offer-title left-title">
      <h3>quel est mon parcours professionnel ?</h3>
      <h2 class="dark-clr">Un profil curieux et touche-à-tout avec une appétence pour le digital et la stratégie.</h2>
    </div>
    <div class="offer-cards">
      <a href="#timeline" class="item card primary">
        <div class="card-icon">
          <img src="\assets\vector\icons\021-time-management.svg" alt="Timeline icon">
        </div>
        <div class="card-title">
          <h4 class="underlined">Frise chronologique</h4>
        </div>
        <div class="card-search primary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
      <a href="#skills-bars" class="item card secondary">
        <div class="card-icon">
          <img src="\assets\vector\icons\002-brainstorming.svg" alt="Skills icon">
        </div>
        <h4 class="underlined">Compétences et soft skills</h4>
        <div class="card-search secondary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
      <a href="#case-studies" class="item card primary">
        <div class="card-icon">
          <img src="\assets\vector\icons\020-student.svg" alt="Case studies icon">
        </div>
        <div class="card-title">
          <h4 class="underlined">Études de cas &amp; cas concrets</h4>
        </div>
        <div class="card-search primary-clr">
          <i class="fa fa-search fa-sm"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- Timeline -->
<section id="timeline" class="full-width light-bg">
  <div class="useful-width margin-constraint timeline-container">
    <div class="timeline-grid">
      <div class="timeline-main-title">
        <h3>Frise chronologique</h3>
        <h2 class="dark-clr">Apprenez-en plus sur mes études et mon parcours professionnel</h2>
      </div>
    </div>
    <!-- Timeline start -->
    <div class="timeline">
      <div class="container">

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-briefcase secondary-clr"></i>
              <span class="secondary-clr">Mars 2021 ~ Aujourd'hui</span>
              <h4 class="dark-clr">Webdesigner</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Paris</span>
              <span class="badge primary-clr-bg">Entreprise UGAP</span>
            </div>
            <div class="company-img webmania"></div>
            <p>Poste de Webdesigner avec création d'une bibliothèque de composants, une bibliothèque d'icônes et refonte du site internet.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-briefcase secondary-clr"></i>
              <span class="secondary-clr">Janvier 2020 ~ Janvier 2021</span>
              <h4 class="dark-clr">Création de Webmania</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Lyon</span>
              <span class="badge primary-clr-bg">Auto-entreprise</span>
            </div>
            <div class="company-img webmania"></div>
            <p>Lancement de mon auto-entreprise sous le nom commercial de Webmania dont l'activité s'axe autour de la stratégie, du design et du développement web.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-briefcase secondary-clr"></i>
              <span class="secondary-clr">Septembre 2018 ~ Juin 2019</span>
              <h4 class="dark-clr">Chargée de marketing digital</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Lyon</span>
              <span class="badge primary-clr-bg">Entreprise wedi</span>
            </div>
            <div class="company-img wedi"></div>
            <p>Poste polyvalent comprenant la mise en place et l'entretien d'une stratégie des réseaux sociaux, organisation d'évènements création de contenus textes, graphiques et vidéos etc.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-graduation-cap secondary-clr"></i>
              <span class="secondary-clr">Septembre 2018 ~ Juin 2019</span>
              <h4 class="dark-clr">Stratégie de marque et marketing digital</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Lyon</span>
              <span class="badge primary-clr-bg">école IDRAC</span>
            </div>
            <div class="company-img idrac"></div>
            <p>Une première année de master qui conforte mon besoin de réaliser des outils digitaux qui font du sens avec leur environnement tant sur le plan graphique que technique.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-briefcase secondary-clr"></i>
              <span class="secondary-clr">Septembre 2016 ~ Juin 2018</span>
              <h4 class="dark-clr">Chargée de communication digitale & print</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Lyon</span>
              <span class="badge primary-clr-bg">Entreprise LIM</span>
            </div>
            <div class="company-img lim"></div>
            <p>Poste polyvalent incluant la refonte du site internet d'entreprise allant du cahier des charges jusqu'à la mise en production, la création de supports graphiques destinés au web et à l'impression etc.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-graduation-cap secondary-clr"></i>
              <span class="secondary-clr">Septembre 2015 ~ Juin 2018</span>
              <h4 class="dark-clr">Licence cheffe de projet digital</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Lyon</span>
              <span class="badge primary-clr-bg">école WIS</span>
            </div>
            <div class="company-img wis"></div>
            <p>Une licence avec spécialisation marketing digital qui mène vers une expertise globale sur des secteurs variés du digital (développement web, organisation agile etc.).</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-graduation-cap secondary-clr"></i>
              <span class="secondary-clr">Septembre 2014 ~ Juin 2015</span>
              <h4 class="dark-clr">DAEU A</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Lyon</span>
              <span class="badge primary-clr-bg">Université Lyon 3</span>
            </div>
            <div class="company-img daeu"></div>
            <p>Équivalence du bac avec option littéraire et obtenu avec la mention bien.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-briefcase secondary-clr"></i>
              <span class="secondary-clr">Mai 2013 ~ Juin 2013</span>
              <h4 class="dark-clr">Stage en agence web</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Bruxelles</span>
              <span class="badge primary-clr-bg">Agence IdWeaver</span>
            </div>
            <div class="company-img idweaver"></div>
            <p>Un stage de deux mois en agence web avec des missons variées telles qu'intégration de contenu, emailing et design.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-graduation-cap secondary-clr"></i>
              <span class="secondary-clr">Juin 2012 ~ Juin 2013</span>
              <h4 class="dark-clr">Formation Webmaster</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Bruxelles</span>
              <span class="badge primary-clr-bg">école Interface 3</span>
            </div>
            <div class="company-img interface3"></div>
            <p>Un premier pas dans le web avec cette formation d'un an. Au programme développement web, design et culture web.</p>
          </div>
        </div>

        <!-- Timeline Item -->
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content card" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="timeline-title">
              <i class="fas fa-graduation-cap secondary-clr"></i>
              <span class="secondary-clr">Septembre 2014 ~ Juin 2015</span>
              <h4 class="dark-clr">Mise à niveau en arts appliqués</h4>
            </div>
            <div class="context">
              <span class="badge primary-clr-bg">Montpellier</span>
              <span class="badge primary-clr-bg">école des beaux-arts</span>
            </div>
            <div class="company-img manaa"></div>
            <p>Les fondements du design graphique couplé aux notions fondamentales que sont l'histoire de l'art, la peinture, la sculpture, l'aquarelle, le dessin etc.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="skills-bars" class="full-width">
  <div class="lines four-lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="useful-width margin-constraint skills-bars">
    <div class="skills-bars-title">
      <h3>Mes compétencess</h3>
      <h2 class="dark-clr">Une pluralité de domaines d'activité et des compétences humaines</h2>
    </div>
    <div class="tech-skills">
      <div class="bar">
        <div class="text-bar skill-overlay secondary-clr-bg skill-90" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Suite Adobe</span>
          <span class="white-clr percent-text">90%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay secondary-clr-bg skill-100" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="uppercase white-clr skill-area">HTML</span>
          <span class="uppercase white-clr percent-text">100%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay secondary-clr-bg skill-90" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="uppercase white-clr skill-area">CSS/SASS</span>
          <span class="white-clr percent-text">90%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay secondary-clr-bg skill-90" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Bootstrap</span>
          <span class="white-clr percent-text">90%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay secondary-clr-bg skill-50" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">JavaScript/JQuery</span>
          <span class="white-clr percent-text">40%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay secondary-clr-bg skill-30" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">React</span>
          <span class="white-clr percent-text">30%</span>
        </div>
      </div>
    </div>
    <div class="soft-skills">
      <div class="bar">
        <div class="text-bar skill-overlay primary-clr-bg skill-80" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Adaptabilité</span>
          <span class="uppercase white-clr percent-text">80%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay primary-clr-bg skill-80" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Esprit d'équipe</span>
          <span class="uppercase white-clr percent-text">80%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay primary-clr-bg skill-90" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Dynamisme</span>
          <span class="uppercase white-clr percent-text">90%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay primary-clr-bg skill-70" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Aisance relationnelle</span>
          <span class="uppercase white-clr percent-text">70%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay primary-clr-bg skill-100" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Autonomie</span>
          <span class="uppercase white-clr percent-text">100%</span>
        </div>
      </div>
      <div class="bar">
        <div class="text-bar skill-overlay primary-clr-bg skill-80" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out">
          <span class="white-clr skill-area">Créativité</span>
          <span class="uppercase white-clr percent-text">80%</span>
        </div>
      </div>
    </div>
  </div>
</section>