.grid {
  display: grid;
  position: relative;
  z-index: 10;
  grid-template-columns: repeat(4, 1fr);
  @include for-tablet-portrait-up {
    grid-template-columns: repeat(8, 1fr);
  }
  @include for-desktop-up {
    grid-template-columns: repeat(12, 1fr);
  }
}
.left-title {
  grid-column: 1 / span 4;
  @include for-tablet-portrait-up {
    grid-column: 1 / span 7;
  }
  @include for-desktop-up {
    grid-column: 2 / span 7;
  }
}
.offer-title {
  grid-column: 1 / span 4;
  @include for-tablet-portrait-up {
    grid-column: 1 / span 7;
  }
  @include for-desktop-up {
    grid-column: 2 / span 7;
  }
}

.offer-cards {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  @include for-tablet-portrait-up {
    grid-column: 1 / span 8;
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-tablet-landscape-up {
    grid-column: 1 / span 6;
  }
  @include for-desktop-up {
    grid-column: 2 / span 12;
    grid-template-columns: repeat(4, 1fr);
  }
}

.contact-content {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  @include for-desktop-up {
    grid-column: 2 / span 12;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact-cards .card:first-child {
  margin-bottom: 1em;
}
.contact-cards .card {
  display: inherit;
  padding: 30px;
  & span {
    font-size: 0.9em;
  }
  & h2 {
    margin-bottom: 0;
    font-size: 1.3em;
  }
  & .card-icon {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px 0 5px 0;
    margin-bottom: 0;
    & img {
      width: 47px;
      position: absolute;
      left: 50%;
      margin-left: -18px;
      top: 50%;
      margin-top: -14px;
    }
  }
}
